@import "../../../../styles/shared";

.folder-container {
  border: 0 !important;
  box-shadow: none;
}

.ui > .card:not(.selected) {
  border: 0 !important;
  padding: 5px;
  box-shadow: none;
  max-width: 120px;
  margin: 1em;
  display: inline-block;
}

.ui > .card.selected {
  border: 1px #D84F47 solid !important;
  padding: 5px;
  box-shadow: none;
  max-width: 120px;
  margin: 1em;
  display: inline-block;
}

.ui > .card > .image {
  background: none;
}

.card > .content .row .column {
  padding: 0;
}

.card .content {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}

.card .content > .column.grid {
  margin: 0;
}

.card .content > .column.grid > .row {
  padding-bottom: 0 !important;
}

.card .meta {
  font-size: .8em !important;
}