@import "../../../../styles/shared";

.folder-container {
  border: 0 !important;
  box-shadow: none;
}

.ui > .card {
  //display: inline-block;
  float: left;
  margin: 1em;
  max-width: 120px;
  box-shadow: none;
  padding: 5px;
}

.ui > .card:not(.selected) {
  border: 0 !important;
}

.ui > .card.selected {
  border: 1px #D84F47 solid !important;
}

.ui.card:first-child {
  margin-top: 1em !important;
}

.ui.card:last-child {
  margin-bottom: 1em !important;
}

.ui > .card > .image {
  background: none;
}

.card > .content .row .column {
  padding: 0;
}

.card .content {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}

.card .content > .column.grid {
  margin: 0;
}

.card .content > .column.grid > .row {
  padding-bottom: 0 !important;
}

.card .meta {
  font-size: .8em !important;
}

.card .new-folder-input>input {
  padding-left: 8px !important;
  padding-right: 8px !important;
}