@import "../../../../styles/shared";

.order-files-segment-group {
  //height: calc(100% - 70px) !important;
  display: flex;
  height: calc(100% - 70px) !important;
}

.filemanager-header {
  margin: 15px !important;
  height: 40px;
  display: flex;
}

.path {
  display: inline-block;
}

.files-count {
  border-left: 0 !important;
  padding: 10px 0 10px 10px !important;
  font-family: 'Roboto', serif !important;
  font-size: 20px !important;
}

.buttons-group {
  padding: 5px !important;
}

.buttons-group .button {
  margin: 5px;
}

.gallery {
  padding: 10px !important;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.gallery .photo-container {
  float: left;
  margin: 10px;
}