@import "../../../styles/shared";

.user {
  margin-left: $sidebar-left-width + 1rem;
  margin-right: 1rem;
}

.myloader {
  margin-left: $sidebar-left-width;
  margin-top: $header-nav-height;
  height: 100%;
}

.ui .buttons {
  margin-left: 10px;
}