@import "../../styles/shared";

.app-layout {

  overflow: hidden;
  background-color: #fff;

  & > *:last-child {
    margin-top: $header-nav-height;
    margin-bottom: 0;
    padding-top: 0 !important;
    padding-left: $sidebar-left-width;

    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;

    /* Firefox */
    height: -moz-calc(100% - 107px);
    /* WebKit */
    height: -webkit-calc(100% - 107px);
    /* Standard */
    height: calc(100% - 107px);
  }

}