@import "../../../styles/shared";

.order {
  margin-left: $sidebar-left-width + 1rem;
  margin-right: 1rem;
  //max-height: 90%;
  //margin-bottom: auto;
}

.myloader {
  margin-left: $sidebar-left-width;
  margin-top: $header-nav-height;
  height: 100%;
}

.ui .buttons {
  margin-left: 10px;
}

.ui.label.status {
  margin-left: 10px !important;
}

.order-row {
  height: 100% !important;
}

.order-details {
  overflow-y: hidden;
  height: 100% !important;
}

.full-height-segment {
  overflow-y: unset;
  flex-grow: unset !important;
  height: calc(100%) !important;
}

.order-details-content {
  overflow-y: auto;
  overflow-x: auto;
  padding-bottom: 0 !important;
  height: calc(100% - 80px) !important;
}

.order-files-header {
  margin-top: 10px !important;
  margin-bottom: 18px !important;
}